@{
    ViewData["Title"] = "Início";
}


<div id="menu" style="margin-top:30px; margin-left:20px;">
    <li><a asp-area="" asp-controller="animal" asp-action="Index">Anaimais</a></li>
    <li><a asp-area="" asp-controller="person" asp-action="Index">Pessoas</a></li>
    <li><a asp-area="" asp-controller="orders" asp-action="Index">Pedido</a></li>
</div>